<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="/nav.css" type="text/css">
    <title>Codity</title>
</head>
<body>
<% include nav %>
        
<div id="main">
    <div class="row">
        <div class="col-md-4">
            <center>
            <h1 class="display-4">
            Codechef
            </h1>
            <br>
            <input type="text" placeholder="Codechef username" style="width:90%;padding:10px;border-radius:10px" id="codechef-username" onfocus="changeEnterFocus('codechef-button')">
            <br><br>
            <button class="btn btn-primary" id="codechef-button">Find</button>
            <i class="fa fa-clock-o text-primary" id="codechef-wait" style="font-size:40px;display:none"></i>
            <br><br>
            <div style="width:100%" id="codechef-info">

            </div>
            <br>
            <div style="width:100%;max-height:500px;overflow-y:scroll;overflow-x:hidden" id="codechef-submission-info">

            </div>
            </center>
        </div>
        <div class="col-md-4">
            <center>
            <h1 class="display-4">
            Spoj
            </h1>
            <br>
            <input type="text" placeholder="Spoj username" style="width:90%;padding:10px;border-radius:10px" id="spoj-username" onfocus="changeEnterFocus('spoj-button')">
            <br><br>
            <button class="btn btn-primary" id="spoj-button">Find</button>
            <i class="fa fa-clock-o text-primary" id="spoj-wait" style="font-size:40px;display:none"></i>
            <br><br>
            <div style="width:100%" id="spoj-info">

            </div>
            <br>
            <div style="width:100%;max-height:500px;overflow-y:scroll;overflow-x:hidden" id="spoj-submission-info">

            </div>
            </center>
        </div>
        <div class="col-md-4">
            <center>
            <h1 class="display-4">
            Codeforces
            </h1>
            <br>
            <input type="text" placeholder="Codeforces username" style="width:90%;padding:10px;border-radius:10px" id="codeforces-username" onfocus="changeEnterFocus('codeforces-button')">
            <br><br>
            <button class="btn btn-primary" id="codeforces-button">Find</button>
            <i class="fa fa-clock-o text-primary" id="codeforces-wait" style="font-size:40px;display:none"></i>
            <br><br>
            <div style="width:100%" id="codeforces-info">

            </div>
            <br>
            <div style="width:100%;max-height:500px;overflow-y:scroll;overflow-x:hidden" id="codeforces-submission-info">

            </div>
            </center>
        </div>
    </div>
</div>
    <script src="/nav.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
    <script src="index.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>