<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.8.10/themes/smoothness/jquery-ui.css" type="text/css">
    <link rel="stylesheet" href="/nav.css" type="text/css">
    <title>Codity | Search Problems</title>
</head>
<body>
  <% include nav %>
<div id="main">
<div class="row">
  <div class="col-4"></div>
  <div class="col-4">
    <h1 class="display-5">Choose your category</h1>
    <select style="width:100%" id="codity-categories">    
  
    </select>
  </div>
  <div class="col-4"></div>
</div>
<br>
<center>
<button class="btn btn-danger" id="findProblemButton">Find</button>
<i class="fa fa-clock-o text-primary" id="findProblemWait" style="font-size:40px;display:none"></i>

<br><br>
<div class="row" style="width:80%;" id="listOfProblems">

</div>
</center>
</div>
<script src="/nav.js"></script>
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
              crossorigin="anonymous"></script>
    <script src="/search-problems.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>